@import './flex.scss';
@import './common.scss';
@import './color.scss';
.f1 {
	flex: 1;
}
.w100h100 {
	width: 100%;
	height: 100%;
}

.flex {
	display: flex;
}

.jc {
	justify-content: center;
}

.ac {
	align-items: center;
}

.w100h100 {
	width: 100%;
	height: 100%;
}

.jsb {
	justify-content: space-between;
}

.ae {
	align-items: flex-end;
}

.jsa {
	justify-content: space-around;
}

.je {
	justify-content: flex-end;
}

.Bench {
	width: 100%;
	height: 60px;
}

.lBench {
	width: 100%;
	height: 50px;
}

.publicline {
	width: 100%;
	height: 2rpx;
	background: #f5f5f5;
}

.me-text-beyond-multi2 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}

.me-text-beyond-multi1 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
}

.flexwrap {
	flex-wrap: wrap;
}

.ordertypetag {
	background: #ddb45c;
	border-radius: 4rpx;
	padding: 5rpx 8rpx;
	box-sizing: border-box;
	font-size: 20rpx;
	color: #ffffff;
	margin-right: 12rpx;
}

.refund {
	width: 100%;
	background: #fafafa;
	border-radius: 18rpx;
	margin: auto;
	color: #333333;
	font-size: 32rpx;
	padding: 54rpx 20rpx 20rpx 20rpx;
	box-sizing: border-box;
	display: block;
	text-align: center;

	.refund_text {
		font-weight: bold;
		font-size: 54rpx;
		color: #333333;
	}

	.refund_text2 {
		font-size: 44rpx;
		color: #333;
		font-weight: bold;
		margin-top: 12rpx;
	}
}

.orderTime {
	font-size: 24rpx;
	color: #777777;
}

.orderDetailnum {
	font-size: 24rpx;
	color: #aaaaaa;
}

.orderDetailPriceicon {
	font-size: 24rpx;
	color: #fa5151;
}

.orderDetailPrice {
	font-size: 34rpx;
	color: #fa5151;
	font-weight: bold;
}
.remarksOrder {
	width: 95%;
	padding: 20rpx;
	box-sizing: border-box;
	background: #fafafa;
	font-size: 24rpx;
	color: #777777;
	margin: auto;
}
.w100 {
	width: 100%;
}

.m0 {
	margin: 0 !important;
}

.me-text-beyond-multi2 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}

.me-text-beyond-multi1 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
}

.codebackimgs {
	width: 100%;
	height: 44rpx;
	position: absolute;
	left: 0;
	top: -5rpx;

	.codebackimgts {
		position: relative;
		width: 168rpx;
		height: 44rpx;
		// width: 100%;
	}

	.codebackimg {
		width: 168rpx;
		height: 44rpx;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
	}

	.codebacktt {
		width: 168rpx;
		height: 44rpx;
		font-size: 24rpx;
		color: #ffffff;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 2;
	}
}
